# Dependency directories
node_modules

# Build artifacts
build
dist
.parcel-cache

# Editor and OS junk
.DS_Store
.idea
.vscode
npm-debug.log*

# Git ignore files
.git
.gitignore

# Environment files
.env*
